<div class="container">
   <div id="loginArea" class="row">
      <h1 class="h1-style">Welcome!</h1>
      <div class="col-md-6 col-md-offset-3">
         <form id="loginForm">
            <div class="form-group">
               <label for="input-username" class="sr-only">Enter username</label>
               <input id="username" class="form-control" placeholder="Enter username:"></input>
               <input type="submit" class="btn btn-primary" value="Login">
            </div>
         </form>
      </div>
   </div>

   <div id="chatArea" class="row">

      <div class="col-md-12">
         <h1 class="welcome-message h1-style">Tjenna</h1>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="well">
               <h3>Online Users</h3>
               <ul id="users" class="list-group"></ul>
            </div>
         </div>

         <div class="col-md-8">
            <div id="chat-window" class="chat"></div>

            <form id="chatForm">
               <div class="form-group">
                  <label for="message" class="sr-only">Enter message</label>
                  <textarea id="message" class="form-control"></textarea>
                  <input type="submit" class="btn btn-primary" value="Send message">
               </div>
            </form>
         </div>
      </div>

   </div>
</div>